@using ShoppingApplication.BOL
@model List<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/Buyer_Layout.cshtml";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<div class="container">
    <h2>Orders</h2>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <a class="panel-link" href="#">Add Order</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Ordered Date</th>
                        <th>Buyer Name</th>
                        <th>Product Name</th>
                        <th>Product Status</th>
                        <th>Action</th>


                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.OrderedOn</td>
                            <td>@item.Buyer.UserName</td>
                            <td>@item.Product.Name</td>
                            <td>@item.OrderStatus.Name </td>

                            <td>
                                <a href="#"> <span class="glyphicon glyphicon-search text-primary"></span></a>
                                <a href="#"> <span class="glyphicon glyphicon-edit text-info"></span></a>
                                <a href="#"> <span class="glyphicon glyphicon-remove text-danger"></span></a>


                            </td>
                        </tr>
                    }
                </tbody>

            </table>
</div>
</div>
</div>